$red: #9b111e;
$blue : #00498c;
$pink:  #ffc0cb;

@mixin button-color($color){
    background: $color;

    &:hover,
    &:focus {
        background: lighten($color: $color, $amount: 5)
        
    }
    &:active {
        background: darken($color: $color, $amount: 10)
    }
}




button {
    cursor: pointer;
    border : 1px solid #000;
    
    &.red {
        @include button-color($red);
        color:#fff
    }
    &.blue {
        @include button-color($blue)
    }
    &.pink {
        @include button-color($pink)
    }

    &.small {
        padding: 0.4rem 1rem;
    }
    &.medium {
        padding: 0.6rem 1.4rem;
    }
    &.large {
        padding: 0.8rem 1.8rem;
    }
    
}